<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- TODO: Remove as this doesnt seem to work used for (encrypted private store and camera face detection) -->
    <!-- <uses-sdk android:targetSdkVersion="28" android:minSdkVersion="19"
        tools:overrideLibrary="androidx.security,
            androidx.camera.view, androidx.camera.camera2, androidx.camera.lifecycle, androidx.camera.core"/> -->


    <uses-permission android:name="android.permission.CAMERA" /> <!-- Get hardware id, detect faces etc. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Read Mac address for unique id -->
    <!-- CellularConnected check needs fine location detection for android pre Oreo. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Required on api < 21 if you are using setRequiredNetworkType(int) needed to keep a wake lock while your job is running,
         Required on all api levels if you are using setPersisted(true)
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:exported="false"
            android:name="de.hartz.software.parannoying.offline.activities.offline.settings.OfflineSettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:exported="false"
            android:name="de.hartz.software.parannoying.offline.activities.offline.settings.OfflineSettingsHiddenActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.hartz.software.parannoying.offline.activities.offline.settings.OfflineSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.hartz.software.parannoying.offline.activities.offline.settings.OfflineSettingsActivity" />
        </activity>
        <activity
            android:exported="false"
            android:name=".activities.offline.settings.ExportActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:exported="false"
            android:name="de.hartz.software.parannoying.offline.activities.offline.OfflineMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:exported="false"
            android:name="de.hartz.software.parannoying.offline.activities.offline.ForwardOverviewActivity"
            android:label="@string/app_name" />

        <activity
            android:exported="false"
            android:name="de.hartz.software.parannoying.offline.activities.offline.userinfo.UserInfoActivity"
            android:label="User Info"/>
        <activity
            android:exported="false"
            android:name="de.hartz.software.parannoying.offline.activities.offline.ChatActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:exported="false"
            android:name="de.hartz.software.parannoying.offline.activities.offline.CreateOnlineGroupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:exported="false"
            android:name="de.hartz.software.parannoying.offline.activities.offline.WelcomeOfflineActivity"
            android:label="@string/title_activity_info"
            android:noHistory="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName="de.hartz.software.parannoying.offline.activities.offline.WelcomeOfflineActivity"/>

        <activity
            android:exported="false"
            android:name="de.hartz.software.parannoying.offline.activities.offline.EventOverviewActivity"
            android:screenOrientation="portrait"/>


        <!-- Needed for android kitkat -->
        <receiver
            android:exported="true"
            android:name="de.hartz.software.parannoying.offline.helper.guard.internet.ConnectivityReceiver"
            >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:name="de.hartz.software.parannoying.offline.helper.guard.usb.UsbConnectivityReceiver"
            >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </receiver>

        <service
            android:name="de.hartz.software.parannoying.offline.helper.guard.usb.UsbSchedulerService"
            android:exported="true"
            android:enabled="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="de.hartz.software.parannoying.offline.helper.guard.internet.NetworkSchedulerService"
            android:exported="true"
            android:enabled="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />


        <!-- https://stackoverflow.com/a/56394270/8524651 -->
        <provider
            android:name="de.hartz.software.parannoying.offline.helper.guard.facedetection.Camera2Initializer"
            android:authorities="${applicationId}.camerax-init"
            android:exported="false"
            android:initOrder="100"
            android:multiprocess="true" />

        <!-- Needed to have constructor arguments with custom factory. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>
</manifest>